@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0de3f2;
  --color-secondary: #d946ef;
  --color-background-light: #f5f8f8;
  --color-background-dark: #102122;
  --color-surface-dark: #162a2d;
  --color-surface-light: #ffffff;

  --font-display: 'Space Grotesk', sans-serif;
  --font-body: 'Noto Sans', sans-serif;

  --radius-DEFAULT: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;

  --background-image-hero-pattern: linear-gradient(to bottom, rgba(16, 33, 34, 0.3), rgba(16, 33, 34, 1));
  --animate-blob: blob 10s infinite;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(50px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-40px, 40px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}